@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('./design-system/colors.css');
@import url('./design-system/spacing.css');
@import url('./design-system/radius.css');
@import url('./design-system/transition.css');
@import url('./reset.css');


html, body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--system-color-light-500);;
}

*, *::before, *::after {
    font-family: inherit;
    box-sizing: inherit;
}

