.container {
    pointer-events: none;
}

.container.enter {
    pointer-events: inherit;
}

.body {
    position: absolute;
    padding: 4px 24px;
    background-color: var(--system-color-gray-500);
    transform: scale(0.9);
    opacity: 0;
    transition: opacity var(--system-transition-100), transform var(--system-transition-100);
    border-radius: var(--system-radius-100);
}

.body.enter {
    opacity: 1;
    transform: scale(1);
}

.backdrop {
    background-color: transparent;
}