.container {
	pointer-events: none;
}

.container.enter {
	pointer-events: inherit;
}

.backdrop {
	background-color: transparent;
}

.body {
	max-height: 300px;
	overflow-x: auto;
	padding: var(--system-spacing-200) 0;
}

.list {
	list-style: none;
}

.option {
	cursor: pointer;
	padding: var(--system-spacing-300) var(--system-spacing-400);
}

.option:not(.disabled):hover {
	background-color: var(--system-color-dark-400);
}

.option.selected {
	background-color: var(--system-color-dark-300);
}

.option.disabled {
	cursor: not-allowed;
}

.anchor {
	position: relative;
}

.field {
	width: 100%;
	height: 100%;
	padding-right: var(--system-spacing-1000);
}

.chevron {
	position: absolute;
	pointer-events: none;
	right: var(--system-spacing-300);
	top: 50%;
	transform: translateY(-50%);
	fill: none;
	stroke: var(--system-color-dark-500);
	width: 24px;
	height: 24px;
}
