:root {
	--system-spacing-100: 2px;
	--system-spacing-200: 4px;
	--system-spacing-300: 8px;
	--system-spacing-400: 12px;
	--system-spacing-500: 16px;
	--system-spacing-600: 20px;
	--system-spacing-700: 24px;
	--system-spacing-800: 32px;
	--system-spacing-900: 40px;
	--system-spacing-1000: 48px;
}
