.container {
    position: relative;
}

.body {
    padding: var(--system-spacing-200) var(--system-spacing-700);
}

.bodyWithArrow.top::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-width: 8px;
    border-style: solid;
}

.bodyWithArrow.top::before {
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-color: var(--system-color-dark-500) transparent transparent transparent; 
}